.container
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    gap: 20px
    width: 100vw
    .rest
        display: flex
        gap: 20px
@media (max-width: 768px)
    .banner1
        width: 90%
    .container
        align-items: center

        gap: 16px

    .rest
        flex-direction: column
        align-items: center
        gap: 12px
        img
            width: 90%
